* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEECC;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
h1 {
    text-align: center;
    color: #333333;
}


#gameOptions {
    display: flex;
    justify-content: space-evenly; /* Changed from space-evenly to center */
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.bothChoices {
    display: flex;
    justify-content: space-evenly; /* Changed from space-evenly to center */
}

#outcomeContainer, #outcomeElement, #replay {
    display: flex; /* Added this line */
    justify-content: center;
    align-items: center; /* Added this line */
}

#replay {
    margin: 100px;
}

#score {
    display: flex;
    justify-content: center;
}

#usersScore, #computersScore {
    border: 1px solid #000000;
    padding: 15px;
    margin: 20px;
}